
.carrossel {
    position: relative;
    width: 30vh;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.imagens {
    display: flex;
    transition: transform 0.5s ease;
    height: 40vh;
}

.imagens img {
    width: 600px;
    height: auto;
}

button.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
